.agreement-modal{
	.tips{
		color: rgba(0, 0, 0, 0.447058823529412);
		font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		text-align: left;
		line-height: 22px;
		.agree{
			cursor: default;
		}
		.agreement{
			color: #1890FF;
			cursor: pointer;
			padding: 0;
		}
		.agree-tips{
			margin: 22px 0 20px 0;
		}
	}
}
