.status-badge-wrapper {
	:global {
		.ant-badge-status-success {
			background-color: #0E77D1;
		}
	}
}

.tag-wrapper {
	display: flex;
	align-items: center;
}

.ant-tooltip {
	.ant-tooltip-content {
		.ant-tooltip-arrow {
			border-bottom-color: rgba(255, 255, 255, .75);
		}

		.ant-tooltip-inner {
			background: #fff;
			color: rgba(0, 0, 0, 0.447058823529412);
		}
	}
}
