.status-badge-wrapper-success {
	:global {
		.ant-badge-status-success {
			background-color: #0e77d1;
		}
	}
}

.status-badge-wrapper-error {
	:global {
		.ant-badge-status-text {
			color: #f5222d;
		}
	}
}

.tag-wrapper {
	display: flex;
	align-items: center;
}

.ant-tooltip {
	.ant-tooltip-content {
		.ant-tooltip-arrow {
			border-bottom-color: rgba(255, 255, 255, 0.75);
		}

		.ant-tooltip-inner {
			background: #fff;
			color: rgba(0, 0, 0, 0.447058823529412);
		}
	}
}

.rise-down-wrapper {
	display: flex;
	align-items: center;

	.rise-down-content {
		margin-left: 2px;
		display: flex;
		align-items: center;
	}
}
