@import '~@/styles/common.less';

.table-content {
	margin-top: 10px;
	:global {
		.ant-table-pagination.ant-pagination .ant-pagination-total-text {
			// display: inline-block;
			float: none !important;
		}
	}
}

.role-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.employee-table {
	margin-top: 20px;
}

.uppercase-input {
	text-transform: uppercase;
}

:global {
	.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper {
		width: 76%;
	}
}

.baseInfo-wrapper {
	margin-bottom: 24px;
	:global {
		.ant-card-body {
			.ant-form-item {
				display: flex;
				// &-label {
				// 	flex: 1;
				// }
				// &-control-wrapper {
				// 	flex: 2;
				// }
			}
		}
	}
}

.orgInfo-wrapper {
	margin-bottom: 24px;
	// :global {
	// 	.ant-form-item {
	// 		margin-bottom: 0;
	// 	}
	// }
	.select-wrapper {
		> :not(:last-child) {
			margin-bottom: 12px;
		}
		.form-item {
			margin-bottom: 0;
		}
		.tooltip {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		:global {
			.ant-form-item {
				margin-bottom: 0;
			}
		}
	}
	// .addOrg{

	// }
}

.button-wrapper {
	display: flex;
	flex-direction: row-reverse;
}

.popup {
	:global {
		.ant-popover-inner-content {
			padding-right: 0;
			min-height: 60px;
			min-width: 60px;
			.ant-tree {
				max-height: 350px;
				overflow-y: scroll;
			}
		}
	}
}

.search-bar {
	.query-item {
		text-align: left !important;
	}
	.btn-create {
		text-align: right !important;
	}
}
