@import '~@/styles/common.less';

.table-content {
	margin-top: 10px;
}

.role-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.employee-table {
	margin-top: 20px;
}

.uppercase-input {
	text-transform: uppercase;
}

:global {
	.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper {
		width: 76%;
	}
}
