.icon-wrapper {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 100%;
  background-color: #1590FF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-default {
    font-size: 60px;
    color: #FFF;
  }
}
