.emptyPage {
	color: #777e8c;
	:global {
		.ant-empty-description {
			font-size: 16px;
			font-family: PingFangSC-Medium, PingFang SC, sans-serif;
			font-weight: 500;
			margin-top: -44px;
		}
	}
}
