@font-face {
	font-family: 'Gotham-Medium';
	src: url('@/assets/font/Gotham-Medium.otf');
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('@/assets/font/Gotham-Light.otf');
}
.border {
	width: 656px;
	height: 192px;
	margin-bottom: 48px;
	background: linear-gradient(148deg, #8491c3 0%, #6574b1 10%, #5262a5 18%, #414987 100%);
	box-shadow: 0 26px 50px -20px rgba(30, 36, 66, 0.7);
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	.content-cn, .content-en {
		width: 650px;
		height: 186px;
		border-radius: 14px;
		background-image: linear-gradient(148deg, #47588B 0%, #354268 100%);
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		color: #FFFFFF;
		.line {
			width: 2px;
			height: 32px;
			opacity: 0.5;
			background: #7A87BD;
			border-radius: 1px;
			position: absolute;
			top: 80px;
			left: 399px;
		}
		.today {
			.today-title {
				font-family: PingFangSC-Semibold, sans-serif;
				font-size: 20px;
				line-height: 22px;
				margin-bottom: 26px;
			}
			.today-num {
				font-family: Gotham-Medium, sans-serif;
				font-size: 64px;
				line-height: 38px;
			}
		}
		.yesterday {
			.yesterday-title {
				font-family: PingFangSC-Light, sans-serif;
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 26px;
			}
			.yesterday-num {
				font-family: Gotham-Light, sans-serif;
				font-size: 40px;
				line-height: 22px;
			}
		}
	}
	.content-cn {
		padding: 48px 0 0 96px;
		.yesterday {
			width: 192px;
		}
	}
	.content-en {
		padding: 48px 0 0 32px;
		.yesterday {
			width: 276px;
		}
	}
}
