.payChart {
	position: relative;
	.payChartTitle {
		font-family: PingFangSC-Semibold, sans-serif;
		font-size: 20px;
		color: #ffffff;
	}
	.payChartLengend {
		position: absolute;
		top: 30px;
		right: 0;
		.payChartLengendOneList {
			width: 185px;
			height: 20px;
			display: flex;
			margin-bottom: 16px;
			justify-content: space-between;
			align-items: center;
			color: #ffffff;
			.payChartLengendOneListRight {
				display: flex;
				align-items: center;
				font-family: PingFangSC-Regular, sans-serif;
				font-size: 16px;
			}
			.payChartLengendOneListLeft {
				font-family: Gotham-Bold, sans-serif;
				font-size: 16px;
			}
		}
	}
}
