@font-face {
	font-family: 'Gotham-Bold';
	src: url('@/assets/font/Gotham-Bold.otf');
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('@/assets/font/Gotham-Medium.otf');
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('@/assets/font/Gotham-Light.otf');
}
.show-cards {
	width: 1824px;
	display: flex;
	justify-content: space-between;
}
