.card-wrapper {
	min-height: 160px;
	border-radius: 8px;
	background: #ffffff;

	:global {
		.ant-card-hoverable {
			border-radius: 8px;
		}
	}

	.card-title {
		font-size: 14px;
		line-height: 22px;
		color: #777e8c;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.card-content {
		margin-top: 8px;
		font-size: 30px;
	}

	.card-footer {
		margin-top: 16px;

		font-size: 14px;
		line-height: 22px;
	}
}
