.card-wrapper {
	min-height: 160px;
	border-radius: 8px;
	background: #FFFFFF;

	.card-title {
		font-size: 14px;
		line-height: 22px;
		color: #777E8C;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.card-content {
		margin-top: 8px;

		font-size: 30px;
		font-weight: bold;
		color: #FF6000;
	}

	.card-footer {
		margin-top: 16px;

		font-size: 14px;
		line-height: 22px;
	}
}
