:global {
	.head-example {
		background: #d8d8d8;
	}
	.ant-badge-count {
		background: #ff3838;
	}
	.ant-badge-dot {
		background: #ff3838;
	}
	.ant-badge-status-default {
		background-color: #a1a7b3;
	}
	.ant-badge-status-processing {
		background-color: #4b7afa;
	}
	.ant-badge-status-processing::after {
		border: 1px solid #4b7afa;
	}
	.ant-badge-status-warning {
		background-color: #ffcc33;
	}
	.ant-badge-status-success {
		background-color: #6dd13b;
	}
	.ant-badge-status-error {
		background-color: #ff3838;
	}
}
