:global {
	.ant-tabs-nav .ant-tabs-tab-active {
		color: #4b7afa;
	}
	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #6694ff;
	}
	.ant-tabs-nav .ant-tabs-tab:active {
		color: #355ad4;
	}
	.ant-tabs-ink-bar {
		background-color: #4b7afa;
	}
	.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
		color: #4b7afa;
	}
}
