:global {
	.ant-tag {
		background: #ffffff;
		border: 1px solid #ced2d9;
	}
	.ant-tag-checkable-checked {
		background-color: #4b7afa;
	}
	.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
		color: #759fff;
	}
	.ant-tag-checkable:active {
		background-color: #355ad4;
	}
}
