.proportion-chart {
	margin-bottom: 8px;
	:global {
		.g-guide {
			.proportion-percent {
				font-family: PingFangSC-Semibold, sans-serif;
				font-size: 16px;
				color: #FFFFFF;
				text-align: center;
			}
		}
	}
}
