@import "../../styles/global";

.detail-info-item {
	margin-top: 10px;
	display: flex;
	align-items: center;

	.detail-info-label {
		width: 120px;
		text-align: right;
	}

	.detail-input-wrapper {
		width: 250px;
	}
}

.disabled {
	color: #ccc;
	cursor: not-allowed;

	&:hover {
		color: #ccc;
		cursor: not-allowed;
	}
}
