@import "~@/styles/common.less";

.detail-info-item {
	margin-top: 10px;
	display: flex;
	align-items: center;

	.detail-info-label {
		width: 280px;
		text-align: right;
	}

	.detail-input-wrapper {
		width: 250px;
	}
}

.disabled {
	color: #ccc;
	cursor: not-allowed;

	&:hover {
		color: #ccc;
		cursor: not-allowed;
	}
}

.preview-img {
  width: 100%;
  position: relative;
  .wrap-img {
    &.img-154 {
      width: 220px;
    }
    &.img-213 {
      width: 300px;
    }
    &.img-26 {
      width: 394px;
    }
    &.img-42 {
      width: 462px;
    }
    &.img-75 {
      width: 655px;
    }
  }
  .content-img {
    position: absolute;
    &.img-154 {
      left: 24px;
      top: 10px;
      width: 152px;
      height: 152px;
    }
    &.img-213 {
      left: 44px;
      top: 24px;
      width: 212px;
      height: 104px;
    }
    &.img-26 {
      left: 50px;
      top: 25px;
      width: 296px;
      height: 152px;
    }
    &.img-42 {
      left: 31px;
      top: 52px;
      width: 400px;
      height: 300px;
    }
    &.img-75 {
      left: 38px;
      top: 32px;
      width: 580px;
      height: 360px;
    }
  }
}

.preview-list {
	width: 100%;
	:global {
		.ant-card-body {
			padding: 0;
		}
		.ant-pagination {
			float: none !important;
			text-align: right !important;
		}
		.ant-pagination-total-text {
			float: left !important;
		}
	}
	.cover-wrapper {
		width: 100%;
		position: relative;
		.cover-img {
			width: 100%;
			height: auto;
		}
		.cover-img-0 {
			position: absolute;
			left: 10%;
			top: 12%;
			width: 76%;
			height: auto;
		}
	}
	.mb20 {
		margin-bottom: 20px;
	}
}
