@import "~@/styles/common.less";

.detail-info-item {
	margin-top: 10px;
	display: flex;
	align-items: center;

	.detail-info-label {
		width: 280px;
		text-align: right;
	}

	.detail-input-wrapper {
		width: 250px;
	}
}

.disabled {
	color: #ccc;
	cursor: not-allowed;

	&:hover {
		color: #ccc;
		cursor: not-allowed;
	}
}

.preview-img {
	position: relative;
	.wrap-img {
		&.img-213 {
			width: 300px;
		}
		&.img-26 {
			width: 394px;
		}
		&.img-42 {
			width: 462px;
		}
		&.img-75 {
			width: 660px;
		}
	}
	.content-img {
		position: absolute;
		&.img-213 {
			left: 44px;
			top: 24px;
			width: 212px;
			height: 104px;
		}
		&.img-26 {
			left: 50px;
			top: 25px;
			width: 296px;
			height: 152px;
		}
		&.img-42 {
			left: 31px;
			top: 52px;
			width: 400px;
			height: 300px;
		}
		&.img-75 {
			left: 33px;
			top: 32px;
			width: 600px;
			height: 384px;
		}
	}
}
