.storeList {
  width: 100%;
  height: 100%;
  padding: 30px 30px 10px 30px;
  background: white;
  .top {
    padding-left: 40px;
    margin: 0 0 20px 0;
    a {
      line-height: 40px;
    }
  }
  .table {
    position: relative;
  }
};

.uploadButton {
  height: 23px;
  line-height: 23px;
}

.picSpan {
  position: relative;
  left: 10px;
}

.infoAnchor {
  margin: 0 5px 0 0;
  display: inline;
}

.pageText {
  position: relative;
  top: -43px;
}

.informationText {
  margin-bottom: 25px;
}
