.flow-proportion {
	width: 288px;
	height: 614px;
	transform: scale(0.5) translate(0,-307px);
	.title {
		font-family: PingFangSC-Semibold, sans-serif;
		font-size: 40px;
		color: #FFFFFF;
		line-height: 44px;
		margin-bottom: 8px;
	}
	.description {
		font-family: PingFangSC-Light, serif;
		font-size: 24px;
		color: rgba(255,255,255,0.60);
		margin-bottom: 24px;
	}
}
