.flow-proportion {
	width: 144px;
	height: 307px;
	.title {
		font-family: PingFangSC-Semibold, sans-serif;
		font-size: 20px;
		color: #FFFFFF;
		line-height: 22px;
		margin-bottom: 4px;
	}
	.description {
		font-family: PingFangSC-Light, serif;
		font-size: 12px;
		color: rgba(255,255,255,0.60);
		margin-bottom: 12px;
	}
}
