@import "~@/styles/common.less";

:global {
	.ant-tag {
		cursor: auto;
	}
}

.detail-info {
	padding: 24px;
}

.detail-info-item {
	margin-top: 10px;
	display: flex;
	align-items: center;

	.detail-info-label {
		width: 280px;
		text-align: right;
	}

	.detail-input-wrapper {
		width: 250px;
	}
}
