.flowLayout {
	width: 1920px;
	height: 1080px;
	padding: 24px 48px 0;
	background-image: linear-gradient(-180deg, #364366 0%, #14182E 100%);
	.flowLayout-body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.flowLayout-fs {
			width: 1120px;
		}
		.flowLayout-count {
			width: 656px;
			.flowLayout-age {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
