.timeline{
	height: 100%;
	width: 270px;
	display: flex;
	padding: 0; 
	margin-right: 32px;
	box-sizing:border-box;
	.line-container{
		height: 100%;
		width: 8px;
		margin-left: 30px; 
		margin-right: 16px;

		.line{
			margin: 0 auto;
			width: 1px;
			height: 562px;
			background-color: rgba(255,255,255,0.30);
			margin-top: 36px;
		}
		.waiting-video-line{
			margin: 0 auto;
			width: 1px;
			height: 562px;
			background-color: rgba(255,255,255,0.30);
			margin-top: 48px;
		}
	}
	.times-container{
		position: relative;
		top:-8px;
		width: 216px;
		height: 100%;
	}
	.normal{
		padding: 0;
		margin-bottom: 24px;
		.dot{
			position: relative;
			left: -24px;
			top: 40px; 
			width: 8px;
			height: 8px;
			border-radius: 8px;
			border: 1px solid #777E8C;
			background-color: #252D49; 
		}
		.waiting-video-dot{
			position: relative;
			top: 52px;
			left: -24px; 
			width: 8px;
			height: 8px;
			border-radius: 8px;
			border: 1px solid #777E8C;
			background-color: #252D49; 
		}
		.normal-content{
			padding: 14px 24px;
			width: 216px;
			height: 72px;
			opacity: 0.5;
			background-image: linear-gradient(-135deg, #47588B 0%, #354268 100%);
			border-radius: 8px;
			.time{
				margin-bottom: 4px;
				font-family: Gotham-Light, sans-serif;
				font-size: 14px;
				color: rgba(255,255,255,0.60);
				letter-spacing: 0;
				line-height: 18px;
			}
			.amount{
				.title{
					font-family: PingFangSC-Light, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
				}
				.price{
					font-family: Gotham-Medium, sans-serif;
					font-size: 20px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 22px;
				}
				.unit{
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 17px;
				}
			}
		}
		.waiting-video-content{
			padding: 14px 24px;
			width: 216px;
			height: 96px;
			opacity: 0.5;
			background-image: linear-gradient(-135deg, #47588B 0%, #354268 100%);
			border-radius: 8px;
			.time{
				margin-bottom: 4px;
				font-family: Gotham-Light, sans-serif;
				font-size: 14px;
				color: rgba(255,255,255,0.60);
				letter-spacing: 0;
				line-height: 18px;
			}
			.amount{
				margin-bottom: 9px;
				.title{
					font-family: PingFangSC-Light, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
				}
				.price{
					font-family: Gotham-Medium, sans-serif;
					font-size: 20px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 22px;
				}
				.unit{
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 17px;
				}
			}
			.tips{
				font-family: PingFangSC-Regular, sans-serif;
				font-size: 12px;
				color: #7D9EFA;
				letter-spacing: 0;
				line-height: 18px;
			}
		}
	}
	.active{
		list-style: none;
		padding: 0;
		margin-bottom: 24px;
		.dot{
			position: relative;
			left: -24px;
			top:40px;
			height: 8px;
			width: 8px;
			border-radius: 8px;
			background-color: #7D9EFA;
			box-shadow: 0 0 8px 0 rgba(93,118,187,0.50);
		}
		.normal-content{
			padding: 14px 24px;
			width: 216px;
			height: 72px;
			background: #5D76BB;
			box-shadow: 0 26px 40px -20px rgba(30,36,66,0.70);
			border-radius: 8px;
			.time{
				margin-bottom: 4px;
				font-family: Gotham-Book, sans-serif;
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 0;
				line-height: 18px;
			}
			.amount{
				.title{
					font-family: PingFangSC-Light, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
				}
				.price{
					font-family: Gotham-Medium, sans-serif;
					font-size: 20px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 22px;
				}
				.unit{
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 0;
					line-height: 17px;
				}
			}
		}
	}
}
