.pos-detail {
	:global {
		.ant-card {
			margin-bottom: 20px;
			&:nth-of-type(1) {
				.ant-col-8 {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
			&:nth-of-type(2) {
				.ant-col-8 {
					font-size: 15px;
					color: #444;
					margin-bottom: 15px;
				}
			}
			&:nth-of-type(3) {
				.ant-col-8 {
					font-size: 15px;
					color: #444;
				}
			}
			&:nth-of-type(4) {
				.ant-col-4 {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 20px;
				}
			}
		}
	}
	.device-info-type {
		margin-top: 15px;
		color: #aaa;
	}
	.app-title {
		font-size: 16px;
		margin-top: 10px;
	}
}
