.priceTagAndCamera {
	width: 438px;
	display: flex;
	justify-content: space-between;
	margin-top: 56px;
	.priceTagAndCameraTitle {
		font-family: PingFangSC-Semibold, sans-serif;
		font-size: 20px;
		color: #ffffff;
		margin-bottom: 14px;
	}
}
.oneList {
	width: 174px;
	padding: 8px 0 9px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	.oneListName {
		font-family: PingFangSC-Regular, sans-serif;
		font-size: 16px;
	}
	.oneListNum {
		font-family: Gotham-Bold, sans-serif;
		font-size: 16px;
	}
	&:not(:last-child) {
		border-bottom: 1px solid rgba(114, 134, 217, 0.2);
	}
}
