.network-operation {
	margin-right: 20px;
}

.create-qos {
	margin-top: 20px;
}

.qos-table {
	margin: 20px 0;
}

.qos-title {
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}

.qos-ratio {
	margin-left: 10px;
}
