:global {
	.ant-breadcrumb a {
		color: #777e8c;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
	}
	.ant-breadcrumb a:hover {
		color: #777e8c;
	}
	.ant-breadcrumb-separator {
		margin: 0 8px;
		color: #777e8c;
	}
	.ant-breadcrumb > span:last-child {
		color: #525866;
	}
}
