:global {
	.bread-wrapper,
	.ant-breadcrumb {
		a {
			color: #777e8c;
			&:hover {
				color: #ffa05c;
			}
		}
		& > span:last-child {
			color: #525866;
		}
	}
	.bread-wrapper {
		margin-left: 20px;
	}
}
