:global {
	.ant-dropdown-menu-item:hover,
	.ant-dropdown-menu-submenu-title:hover {
		background-color: #fff5ee;
	}
	a {
		color: #ff8133;
	}
	a:active {
		color: #ffa05c;
	}
	a[disabled] {
		color: #a1a7b3;
		cursor: not-allowed;
		pointer-events: none;
	}
}
