:global {
	.ant-select-selection:hover {
		border-color: #6694ff;
		border-right-width: 1px !important;
	}
	.ant-select-open .ant-select-selection {
		border-color: #6694ff;
		border-right-width: 1px !important;
		outline: 0;
		-webkit-box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
		box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
	}
	.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
		background-color: #ecf1fe;
	}
}
