:global {
	.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
		color: #4b7afa;
	}
	.ant-steps-item-finish .ant-steps-item-icon {
		background-color: #fff;
		border-color: #4b7afa;
	}
	.ant-steps-item-process .ant-steps-item-icon {
		background-color: #6694ff;
		border-color: #6694ff;
	}
}
