@import '../../../common';

:global {
  .ant-form-item {
    margin-bottom: 32px;
    background: @formItem-bg-color;
  }

  .ant-form-item-with-help {
    margin-bottom: 13px;
  }

  .ant-form-explain {
    font-size: 12px;
    color: @font-color-explain;
  }
}

.formItem-margin-clear {
  margin-bottom: 8px;
}

.formItem-with-margin {
  margin-top: 40px;
}

.register-footer {
  margin-top: 8px;

  .footer-btn {
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: @font-color-primary;
  }

  .footer-link {
    text-align: right;
    font-size: 14px;
    color: @font-color-primary;
    margin-top: 8px
  }
}
