
.upload-card{
	&:after,
	&:before {
		content: '';
		display: block;
		clear: both;
	}
	:global {
		.ant-upload-list-picture-card {
			float: none;
		}
		.ant-upload .ant-upload-select-picture-card
		.ant-upload-select-picture-card i {
			font-size: 32px;
			color: #1890ff;
		}
		.ant-upload-select-picture-card .ant-upload-text {
			margin-top: 8px;
			font-size: 10px;
		}

	}
}
.info-form{
	display: inline-block;
	width: 100%;
	:global{
		.ant-form-item {
			margin: 0 0;
		}
	}

	//.ant-form-item {
	//	.ant-form-item-label span {
	//		font-size: 20px;
	//		color: rgba(0, 0, 0, 0.447058823529412);
	//		font-family: 'PingFangSC-Regular', 'PingFang SC', serif;
	//		font-weight: 400;
	//		font-style: normal;
	//	}
	//}
}
.main-avatar{
	vertical-align: top;
}
.card-checkbox{
	position: absolute;
	top: 12px;
	right: 15px;
}

.card-picdiv {
	display: flex;
	justify-content: space-around;
}

.edit-modal {
	width: 1200px;
	.content-span {
		span{
			font-size: 20px;
			display: block;
			color: rgba(0, 0, 0, 0.447058823529412);
			line-height: 46px;
			font-family: 'PingFangSC-Regular', 'PingFang SC', serif;
			font-weight: 400;
			font-style: normal;
		}
	}
	.edit-content-span {

		.upload-pic {
			height: 300px;
			width: 300px;
			position: relative;

			.word-on-pic {
				height: 300px;
				width: 300px;
				cursor: pointer;
				text-align: center;
				position: absolute;
				top: 0;
				background: rgba(0, 0, 0, 0.4);
				padding-top: 120px;
				color: #ffffff;
				font-weight: bold;
			}
		}
	}
}
.add-photo-btn {
	margin: 20px 20px 0 0;
}

.info-card {
	margin: 20px 0 0 0;
	border: 1px solid rgba(233, 233, 233, 1);
	border-radius: 2px;
	overflow: hidden;
}

.info-card-span {
	display: block;
	margin: 5px 0 5px 0;
	overflow: hidden;

}

.info-card-span:first-child {
	text-overflow:ellipsis;
	white-space: nowrap;
	width: calc(100% - 31px);
}

.move-modal {
	font-family: 'PingFangSC-Regular', 'PingFang SC', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;

	.content-span {
		color: rgba(0, 0, 0, 0.447058823529412);
		line-height: 24px;
		margin: 0 15px 40px 0;
	}

	.content-radio {
		margin: 40px 0 0 0;
		color: rgba(0, 0, 0, 0.647058823529412);
		line-height: 22px;
		.move {
			display: inline-block;
		}
	}
}

.fail-list-modal {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px;
}

.pic-col {
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;

	img {
		margin: 0 auto;
		max-width: 100%;
		width: auto;
		height: auto;
		max-height: 100%;

	}
}

.word-col {
	width: calc(100% - 150px);
	padding: 0 12px;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.edit-pic-col {
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
}

.upload-content {
	width: 730px;
	height: 140px;

	.inbox {
		display: block;
		font-size: 80px;
		color: #1890FF;
		margin-top: 20px;
	}
}

.pagination {
	margin-top: 20px;
	float: right;
}

.alert {
	margin: 20px 0 0 0;
}

.colorIcon {
	color: #ff1217;
}

.fail-list-pic {
	width: 100%;
	height: 100%;
}

.right-input {
	float: right;
}

.fail-border {
	border: solid 0.5px #ff0e15;
}
.fail-info {
	color: #ff1217;
}

.spin {
	min-height: 100px;
}

//.btn {
//	display: block;
//	height: 50px;
//	.reset-btn {
//		float: right;
//		margin: 20px 0 0 20px;
//	}
//}
