.proportion-chart {
	margin-bottom: 32px;
	:global {
		.g-guide {
			color: #FFFFFF;
			text-align: center;
			.proportion-percent {
				font-family: PingFangSC-Semibold, sans-serif;
				font-size: 32px;
				line-height: 40px;
				display: inline-block;
				margin-top: 10px;
				.proportion-name {
					font-family: PingFangSC-Light, sans-serif;
					font-size: 24px;
					opacity: 0.6;
				}
			}	
		}
	}
}
