.transparnt-05 {
	opacity: 0.5;
}

.form-progress {
	max-width: 500px;
}

.text-align-right {
	text-align: right;
}

.no-margin {
	margin: 0;
}

.storage-title {
	font-family: PingFangSC-Medium, sans-serif;
	font-size: 14px;
	color: #303540;
	// color: rgba(0, 0, 0, 0.85);
	line-height: 22px;
	height: 32px;
}

.subscribe-button {
	margin-left: 32px;
}
