.transparnt-05 {
	opacity: 0.5;
}

.form-progress {
	max-width: 500px;
}

.text-align-right {
	text-align: right;
}

.no-margin {
	margin: 0;
}

.storage-title {
	font-family: PingFangSC-Medium, sans-serif;
	font-size: 14px;
	color: #303540;
	// color: rgba(0, 0, 0, 0.85);
	line-height: 22px;
	height: 32px;
}
.offline-info{
	font-size: 14px;
	color: #e4e4e4;
}

.subscribe-button {
	margin-left: 32px;
}

.flex-v-center {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.tooltip{
	:global{
		.ant-tooltip-arrow{
			// border-right-color: #a1a7b3;
			border-right-color: #525866;
		}
		.ant-tooltip-inner{
			// background-color: #a1a7b3;
			// color: white;
			width: 400px;
		}
	}
}

.info-icon{
	height: 22px;
	width: 22px;
	margin-left: 20px;
	font-size: 22px;
}
