.main-card{
	width: '100%';
	border: 0;
	.main-block {
		// width: 100%
		.btn-block{
			margin: 15px auto;
			width: 50%;
			display: flex;
			// max-width: 100%;
			// text-align: center;
			.reboot-btn,
			.reset-btn {
				width: 118px;
				text-align: center;
				font-size: 14px;
				margin-right: 15px;
				// display: block;
				// margin: 0 auto;
			}
			.info-span{
				font-size: 13px;
				width: calc(100% - 130px);
				float: right;
				line-height: 32px;
			}
		}

	}
	.warning-span{
		text-align: center;
	}
}
.info {
	.progress{
		margin-bottom: 36px;
	}
	.warning{
		color: #faad14;
	}
	.caveat{
		color: #f5222d;
	}
	h3 {
		margin-bottom: 24px;

		.icon{
			margin-right: 16px;
			vertical-align: middle;

			svg {
				width: 22px;
				height: 22px;
			}
		}
	}

}
