.panel {
	background: rgba(242, 242, 242, 1);
	border-radius: 4;
	margin-bottom: 24;
	border: 0;
	overflow: hidden;
	font-size: 20;
	font-weight: 700;
}

.collapse {
	background: rgba(242, 242, 242, 1);
}

.icon {
	float: right;
}
