.ssid{
	margin-right: 8px;
}
.loading{
	margin-left: 8px;
}

.loading-wifi{
	text-align: center;

	.text{
		margin-left: 8px;
	}
}

.wifi-select{
	:global{
		.ant-select-selection-selected-value{
			width: 100%;
		}
	}

	.wifi-icon{
		float: right;
		margin: 8px 0;
	}
}
.wifi-option{
	.wifi-icon{
		float: right;
		margin: 4px 0;
	}
}



