.main-card{
	width: '100%';
	border: 0;
	:global{
		.ant-card-body{
			padding: 0;
		}
	}
}
.main-block{
	width: 300px;
	margin: 0 auto;
	padding: 24px;
}
.nvr-title{
	display: inline-block;
	.title-txt{
		margin-right: 50px;
	}
}
