// 定义常量
@TOOL_BASIC_TOTAL_HEIGHT: 112px;
@TOOL_BASIC_ITEM_WIDTH: 100px;
@TOOL_BASIC_ITEM_HEIGHT: 40px;

@TOOL_PRICE_TOTAL_HEIGHT:138px;
// @TOOL_PRICE_TOTAL_HEIGHT:98px;
@TOOL_PRICE_ITEM_WIDTH: 60px;
@TOOL_PRICE_ITEM_HEIGHT: 28px;

@TOOL_CODE_TOTAL_HEIGHT: 162px;
@TOOL_CODE_ITEM_WIDTH: 100px;
@TOOL_CODE_ITEM_HEIGHT: 40px;
