.content-container {
	padding: 32px;
	background: #fff;
}

//火狐下的移除
input[type='number'] {
	-moz-appearance: textfield;
}

//谷歌下的移除
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.table-content {
	.ant-table-pagination .ant-pagination {
		float: none !important;
		text-align: right !important;

		.ant-pagination-total-text {
			float: left !important;
		}
	}
}
