.flow-chart {
	width: 656px;
	height: 265px;
	margin-bottom: 48px;
	.chart-name {
		font-family: PingFangSC-Semibold, sans-serif;
		font-size: 20px;
		color: #ffffff;
		margin-bottom: 28px;
	}
	:global {
		.g-label {
			top: 0 !important;
		}
		.template-title {
			position: relative;
			display: flex;
			justify-content: center;
			width: 100px;
			height: 185px;
			bottom: 19px;
			.template-content {
				width:40px;
				border-radius: 4px;
				height: 185px;
				background: rgba(125, 158, 250, 0.2);
				.template-top {
					position: absolute;
					top: 2px;
					left: 0;
					width: 100px;
					word-break: break-all;
					color: #ffffff;
					font-size: 16px;
					font-family: Gotham-Bold, sans-serif;
					text-align: center;
					text-shadow: 0 2px 4px rgba(30, 36, 66, 0.5);
				}
			}
		}
	}
}
