.container {
	.col {
		margin-top: 8px;

		// .setting-btn {
		// 	position: 'absolute';
		// 	bottom: 10;
		// 	right: 10;
		// 	margin-right: 10;
		// 	background-color: 'transparent';
		// 	border-color: '#FFFFFF';
		// 	color: '#FFFFFF';
		// 	font-size: 12;
		// }

		.card {
			// height: 100%;
			// width: auto;
			// margin: 0 auto;
			padding-bottom: 56%;
			// width: 100%;
			height: 0;
			position: relative;
			background: #000;

			:global {
				.ant-card-cover {
					position: absolute;
					height: 100%;
					width: 100%;
				}
			}

			img {
				height: 100%;
				width: auto;
				margin: 0 auto;
				// width: 100%;
				// height: 100%;
				// position: absolute;
				// top: 0;
				// left: 0;
				mask: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
			}
		}

		.setting-btn {
			position: absolute;
			bottom: 10px;
			right: 10px;
			margin-right: 10px;
			background-color: transparent ;
			border-color: #ffffff ;
			color: #ffffff ;
			font-size: 12px;
			z-index: 1;

			&:hover {
				opacity: 0.8;
			}
		}


		.play {
			width: 64px;
			height: 64px;
			background: url('@/assets/imgs/btn-play.svg') center center no-repeat transparent;
			background-size: contain;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			cursor: pointer;

			font-size: 0;

			&:hover{
				opacity: 0.8;
			}
		}

		.outline-card {
			padding-bottom: 56%;
			// width: 100%;
			height: 0;
			position: relative;
			background: #000;

			:global {
				.ant-card-cover {
					// font-size: 100px;
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}

			img {
				height: 100%;
				width: auto;
				margin: 0 auto;
				mask: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
			}

		}

		.outline-tips {
			margin: 21% auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			color: white;
			text-align: center;

			h3 {
				color: white;
				font-size: 25px;
			}
		}

		.ipc-name-type {
			position: absolute;
			color: #FFFFFF;
			bottom: 0;
			left: 0;
			right: 0;
			height: 22px;
			margin: 0 70px 10px 20px;

			white-space: nowrap;

			overflow: hidden;
			text-overflow: ellipsis;
		}

		.empty {
			padding-bottom: 56%;
			width: 100%;
			position: relative;
			background-color: rgba(215, 215, 215, 1);

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.no-device {
		text-align: center;
		margin-top: 250px;

		.qr-code-container{
			height: 320px;
			width: 320px;
			margin: auto;
			background-color:#FFFFFF;
			border-radius:15px; 
			box-shadow: 5px 5px 5px #D5D8DC;
			.ipc-qr-code {
				// border: 1px solid;
				display: flex;
				background: url(@/assets/imgs/qrcode.jpg) no-repeat center;
				background-size: 160px 160px;
				.scan-border{
					width: 248px;
					height: 248px;
					margin: 36px auto;
					position: relative;
					.border {
						width: 24px;
						height: 24px;
						position:absolute;
						padding:5px;
						border-style: solid;
						border-color: #4B7AFA ;
						// border-radius: px;
					}
					.border-top-left{
						border-width: 4px 0 0 4px;
						border-radius: 8px 0 0 0;
						top:-5px;
						left:-5px;
					}
					.border-top-right{
						border-width: 4px 4px 0 0;
						border-radius: 0 8px 0 0;
						top:-5px;
						right:-5px;
					}
					.border-bottom-left{
						border-width: 0 0 4px 4px;
						border-radius: 0 0 0 8px;
						bottom:-5px;
						left:-5px;
					}
					.border-bottom-right{
						border-width: 0 4px 4px 0;
						border-radius: 0 0 8px 0;
						bottom:-5px;
						right:-5px;
					}
				}
				
			}
		}
		.tips {
			color: #999999;
			font-size: 16px;
			font-weight: 400;
			// margin: 10px;
			width: 520px;
			margin: 40px auto;
			text-align: center;
		}
		
		

		.device-link{
			background-color: #FF6600;
			border: #FF6600;
			margin-top:20px;
		}
	}
}
