.input-tip{
	color: #BABABA;
}
.table-row-dark{
	background-color: #F2F2F2;
}
.btn-operation{
	margin: 0 3px;
}
.faceid-library-form{
	margin: auto 15px;
}
.inline{
	display: inline-block;
	margin-right: 7px;
}
.number{
	width: 94px;
	:global {
		.ant-form-item-control {
			line-height: inherit;
		}
	}
}
.light{
	color: rgba(0, 0, 0, .5);
}
