:global {
	.ant-select-auto-complete.ant-select {
		.ant-input {
			&:focus {
				border-color: #6694ff;
				-webkit-box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
				box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
			}
			&:hover {
				border-color: #6694ff;
				border-right-width: 1px !important;
			}
		}
	}
	.ant-select-dropdown-menu-item {
		&:hover {
			&:not(.ant-select-dropdown-menu-item-disabled) {
				background-color: #ecf1fe;
			}
		}
	}
}
