:global {
	.ant-calendar-picker {
		&:focus {
			.ant-calendar-picker-input {
				&:not(.ant-input-disabled) {
					border-color: #6694ff;
					-webkit-box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
					box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
				}
			}
		}
		&:hover {
			.ant-calendar-picker-input {
				&:not(.ant-input-disabled) {
					border-color: #6694ff;
				}
			}
		}
	}
	.ant-calendar-today {
		.ant-calendar-date {
			color: #4b7afa;
			font-weight: bold;
			border-color: #4b7afa;
		}
	}
	.ant-calendar-selected-day {
		.ant-calendar-date {
			background: #6694ff;
		}
	}
	.ant-calendar-selected-date .ant-calendar-date,
	.ant-calendar-selected-start-date .ant-calendar-date,
	.ant-calendar-selected-end-date .ant-calendar-date {
		color: #fff;
		background: #4b7afa;
		border: 1px solid transparent;
	}
	.ant-calendar-selected-date .ant-calendar-date:hover,
	.ant-calendar-selected-start-date .ant-calendar-date:hover,
	.ant-calendar-selected-end-date .ant-calendar-date:hover {
		background: #6694ff;
	}
	.ant-calendar-month-panel-selected-cell {
		.ant-calendar-month-panel-month {
			color: #fff;
			background: #6694ff;
			&:hover {
				color: #fff;
				background: #6694ff;
			}
		}
	}
	.ant-calendar-header {
		a:hover {
			color: #759fff;
		}
	}
	.ant-calendar-month-panel-month:hover {
		background: #ecf1fe;
		cursor: pointer;
	}
	.ant-calendar-range {
		.ant-calendar-in-range-cell {
			&::before {
				background: #ecf1fe;
			}
		}
	}
	.ant-calendar-date {
		&:hover {
			background: #ecf1fe;
		}
		&:active {
			color: #fff;
			background: #80a6ff;
		}
	}
}
