:global {
	.ant-input-number {
		border: 1px solid #ced2d9;
		&:focus {
			border-color: #6694ff;
			-webkit-box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
			box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
		}
		&:hover {
			border-color: #6694ff;
		}
		&-input {
			color: #525866;
		}
		&-handler {
			&:active {
				background: #f4f4f4;
			}
		}
	}
}
