:global {
	.ant-time-picker-input {
		&:focus {
			border-color: #6694ff;
			-webkit-box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
			box-shadow: 0 0 0 2px rgba(75, 122, 250, 0.1);
		}
		&:hover {
			border-color: #6694ff;
		}
	}
	li.ant-time-picker-panel-select-option-selected {
		background: #f0f2f5;
	}
	.ant-time-picker-panel-select li:hover {
		background: #ecf1fe;
	}
}
