.wrapper {
	background: #fff;
	padding: 30px 30px 10px 30px;
	label {
		color: #333C4F;
	}
	.add-role {
		margin: 20px 0;
	}
	.view {
		color: #1890FF;
	}
	.submit {
		margin-right: 20px;
	}
	:global {
		.ant-checkbox-disabled + span {
			color: gray;
		}
	}
}
