.wrapper {
	label {
		color: #333C4F;
	}
	.add-role {
		margin-bottom: 30px;
	}
	.view {
		color: #1890FF;
	}
	.submit {
		margin-right: 20px;
	}
	:global {
		.ant-checkbox-disabled + span {
			color: gray;
		}
	}
}
