// .search-block{
// 	text-align:right;
// }
// .search-input{
// 	width: 200px;
// 	margin-bottom: 10px;
// }
// .button-block{
//     margin-top:50px;
// 	text-align: center;
// 	.complete-btn{
// 		margin-right: 10px;

// 	}
// }
// .info-block{
//     // margin-top:100px;
//     text-align: center;
// }
// .light-text{
// 	color:#009AFF;
// 	cursor: pointer;
// }
// .warning-text{
// 	color: red;
// }
// .info-input{
// 	width: 300px;
// }

.icon {
	display:inline-block;
	width: 6px;
	height: 6px;
	margin-right: 8px;

	border-radius: 50%;
	vertical-align: middle;

	&.success{
		background-color: #6DD13B;
	}

	&.failed{
		background-color: #A1A7B3;
	}
}
// .text{
// 	vertical-align: middle;
// }
// .exception-note{
// 	h3, h5{
// 		color: rgba(0,0,0,0.45);
// 	}
// }

// .info-modal{
// 	text-align: center;
// 	:global {
// 		.ant-modal-body{
// 			padding: 40px;
// 		}
// 	}
// 	.success-icon {
// 		display: inline-block;
// 		width:80px;
// 		height: 80px;
// 		margin: 0 auto;
// 		background: url('@/assets/imgs/success.png') no-repeat center center transparent;
// 		background-size:100% 100%;
// 	}
// 	.info-text{
// 		color: #666666;
// 	}
// }



.shortcut{
	width: 56px;
	height: 56px;
	border-radius: 4px;
	overflow: hidden;

	.image{
		max-width: 100%;
	}
}
.disabled{
	color: #A1A7B3;
}

.button-block{
	margin-top: 14px;
	text-align: center;

	.button{
		margin: 0 4px;
		min-width: 74px;
	}

	&.under-table{
		margin-top: 24px;
	}
}

.code-field{
	position: relative;
	padding-right: 32px;

	.code-input{
		display: inline-block;
		margin-right: 24px;
		width: 164px;
	}

	.code-loading{
		position: absolute;
		top: 0;
		right: 0;
	}

	:global{
		.ant-form-item{
			margin-bottom: 0;
		}
	}
}
