@import "~@/styles/common.less";

.low-battery {
	color: red;
}

.detail-info {
	padding: 24px;

	.detail-info-item {
		margin-top: 10px;
		display: flex;
		align-items: center;

		.detail-info-label {
			width: 120px;
			text-align: right;
		}

		.detail-input-wrapper {
			width: 250px;
		}
	}

	.mt24 {
		margin-top: 24px;
	}
}

.selected {
	background: #e6f7ff;
}

.form-row {
	margin-top: 10px;
}

.custom-modal-wrapper {
	padding: 24px;
	.row {
		margin-bottom: 10px;
		line-height: 32px;
		.title {
			text-align: right;
		}
	}
}

.disabled {
	color: #ccc;
	cursor: not-allowed;

	&:hover {
		color: #ccc;
		cursor: not-allowed;
	}
}


.overview {
	margin-bottom: 20px;

	.card-title {
		color: #999;
	}

	.overview-count {
		font-size: 32px;
		color: #000;
		margin-top: 5px;
	}

	.overview-divider {
		margin: 10px 0;
		border-bottom: 1px solid #EBEDF0;
	}

	.overview-btn-bar {
		display: flex;
		justify-content: space-between;
	}

	.overview-fail-count {
		margin-left: 10px;
		color: red;
	}

	.overview-push-again {
		margin-left: 10px;
		color: #1890FF;
	}

}

.preview-img {
	position: relative;
	.wrap-img {
		&.img-213 {
			width: 300px;
		}
		&.img-26 {
			width: 394px;
		}
		&.img-42 {
			width: 462px;
		}
	}
	.content-img {
		position: absolute;
		&.img-213 {
			left: 44px;
			top: 24px;
			width: 212px;
			height: 104px;
		}
		&.img-26 {
			left: 50px;
			top: 25px;
			width: 296px;
			height: 152px;
		}
		&.img-42 {
			left: 31px;
			top: 52px;
			width: 400px;
			height: 300px;
		}
	}
}
