@import "../../../../styles/global";

.detail-info-item {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .detail-info-label {
    width: 120px;
    text-align: right;
  }

  .detail-input-wrapper {
    width: 250px;
  }
}

.overview {
  margin-bottom: 20px;
  .selected {
    background: #e6f7ff;
  }

  .form-row {
    margin-top: 10px;
  }

  .card-title {
    color: #999;
  }

  .overview-count {
    font-size: 32px;
    color: #000;
    margin-top: 5px;
  }

  .overview-divider {
    margin: 10px 0;
  }

  .overview-fail-count {
    margin-left: 10px;
    color: red;
  }

  .overview-push-again {
    margin-left: 10px;
    color: #1890FF;
  }

}
