@font-face {
	font-family: 'Gotham-Book';
	src: url('../../assets/font/Gotham-Book.otf');
}
.flow-distribution {
	width: 400px;
	height: 319px;
	.distribution-title {
		margin-bottom: 30px;
		color: #ffffff;
		font-family: PingFangSC-Semibold, serif;
		font-size: 20px;
		line-height: 22px;
	}
	.distribution-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 19px;
		.footer-item {
			width: 160px;
			text-align: center;
			color: #ffffff;
			.item-title {
				font-family: PingFangSC-Medium, serif;
				font-size: 16px;
				margin-bottom: 4px;
			}
			.item-content {
				opacity: 0.6;
				font-family: Gotham-Book, serif;
				font-size: 12px;
			}
		}
	}
}
