.login-warp {
  width: 368px;
  margin: 0 auto;

  .login-title {
    width: 160px;
    height: 87px;
    margin: 0 auto;
    background: url("../assets/loginTitle.png") no-repeat;
    background-size: 100% 100%;
  }

  .login-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
