.register-wrapper {
  width: 368px;
  margin: 0 auto;

  .register-title {
    width: 160px;
    height: 87px;
    margin: 0 auto;
    background: url("../assets/loginTitle.png") no-repeat;
    background-size: 100% 100%;
  }

  .register-form {
    margin-top: 30px;
  }
}
