.custom-modal-wrapper {
  padding: 24px;
}

.form-description {
  color: #999999;
}

.info-content {
  text-align: center;

  .spin-wrapper {
    margin-top: 20px;
  }
}

.panel-value {
  margin-left: 20px;
}
