@import '~@/styles/common.less';

.databoard-wrapper {
	margin: -24px;
}
.charts-container {
	padding: 24px;
}

.search-bar {
	width: 100%;
	height: 64px;
	padding: 16px 24px;
	background: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	:global {
		.ant-radio-button-wrapper-checked {
			box-shadow: -1px 0 0 0 @font-color-primary;
		}

		.ant-radio-button-wrapper:hover {
			color: @font-color-primary;
		}

		.ant-radio-group-solid {
			.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
				background: @font-color-primary;
				border-color: @font-color-primary;

				&:hover {
					background: @font-color-primary;
					border-color: @font-color-primary;
				}
			}
		}
	}
}

.overview {
	// margin-top: 24px;
	// height: 344px;
	.overview-row {
		margin-bottom: 24px;
	}
}

.line-chart-wrapper {
	min-height: 476px;
	border-radius: 8px;
	margin-bottom: 24px;
	// width: 796px;
	// div {
	// 	height: 400px;
	// }
}
.distri-chart-wrapper {
	min-height: 392px;
	margin-bottom: 24px;
	border-radius: 8px;
	:global {
		.ant-card-body {
			height: 336px;
		}
	}
	// .chart-container {
	// 	.frequency-count {
	// 		display: inline-block;
	// 		width: 34%
	// 	}
	// 	.week-frequency {
	// 		display: inline-block;
	// 		width: 33%
	// 	}
	// }
}
.major-chart-wrapper {
	min-height: 320px;
	border-radius: 8px;
}

.no-data-tip {
	position: absolute;
	top: 128px;
	right: 0;
	bottom: 0;
	left: 256px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.tip-img {
		width: 417px;
		height: 342px;
		margin: 0 auto;
		background: url(../../../assets/left-bg.png) no-repeat center center / cover;
	}
	.tip-text {
		line-height: 22px;
		margin-top: -44px;
		font-size: 16px;
		font-family: PingFangSC-Medium, PingFang SC, sans-serif;
		font-weight: 500;
		color: rgba(119, 126, 140, 1);

		span {
			display: block;
			text-align: center;
		}
	}
}

.col-row-5 {
	width: 20%;
}
