:global {
	.ant-form .ant-row:nth-child(1) .ant-form-item-control {
		.ant-form-item-children {
			display: flex;
			justify-content: space-between;
		}
	}
}

.download-template {
	margin-left: 20px;
}

.upload-desc {
	margin-bottom: 0;
}

.second-step {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	p {
		margin-top: 40px;
	}
}

.third-step {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	img {
		width: 80px;
	}
	.upload-success {
		margin-top: 40px;
	}
	.upload-fail {
		margin-bottom: 40px;
	}
}
