@import "../../../styles/global";

.table-header {
  padding-bottom: 20px;
  display: flex;

  .function-btn:not(:first-child) {
    margin-left: 20px;
  }
}

.form-wrapper {
  min-width: 800px;
  margin-top: 30px;

  .description-list {
    padding: 0;
    position: relative;

    .list-item {
      width: 100%;
    }
  }

  .form-btn-wrapper {
    display: flex;

    .form-btn:not(:first-child) {
      margin-left: 20px
    }
  }
}

.card-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .card-item {
    width: 50%;
    margin-top: 10px;

    .item-label {
      min-width: 200px;
      text-align: right;
      display: inline-block;
    }

    .item-content {
      margin-left: 15px;
    }
  }
}

.footer {
  margin-top: 30px;
  margin-left: 100px;

  .btn:not(:first-child) {
    margin-left: 30px;
  }
}

.ant-table-pagination.ant-pagination {
  float: none;
  text-align: right;
  .ant-pagination-total-text{
    float: left;
  }
}
