.progressbar-container{
	height: 44px;
	// position: relative;

	.percentage-container{
		display: inline-block;

		width: 100%;
		height: 100%;
		padding: 3px 48px;
		background: transparent;
		margin: 0;
	}

	.current{
		margin-right: -40px;
	}

	.time{
		color: #ffffff;
		font-size: 12px;

		display: inline-block;
		line-height: 44px;
		vertical-align: middle;
	}

	.duration{
		margin-left: -40px;
	}
}
