.video-player{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	// &.fullscreen{
	// 	height: 100%;

	// 	.video-container{
	// 		height: 100%;

	// 		> div{
	// 			height: 100%;
	// 		}
	// 	}
	// }

	.video-container{
		width: 100%;
		height: 100%;
		position: relative;
		padding-bottom: 60px;

		.no-media{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: #000000;
			color: #ffffff;

			text-align: center;

			display: flex;

			font-size: 14px;

			.content{
				margin: 0 auto;
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				margin-top: -160px;

				.icon{
					display: block;
					width: 200px;
					height: 200px;

					background: url(../../assets/imgs/no-media.png) center center no-repeat transparent;
					background-size: contain;

					margin: 0 auto;
				}

				.cloud-btn {
					display: block;
					margin: 24px auto 0;

					background-color: #6694FF;
					border-color: #6694FF;

					&:hover {
						background-color: #80A6FF;
						border-color: #80A6FF;
					}
					&:active{
						background-color: #4B7AFA;
						border-color: #4B7AFA;
					}
				}
			}
		}

		.video-detail-wrapper {
			position: absolute;
			width: 100%;
			height: calc(100% - 60px);
			// padding-bottom: 60px;
			top: 0;
			left: 0;

			.video-detail-container {
				position: relative;
				width: 100%;
				height: 100%;

				.video-detail-board {
					position: absolute;
					background-color: rgba(0,0,0,0.50);
					border-radius: 4px;
					width: 35%;
					height: 86%;
					top: 10%;
					right: 5%;

					color: #ffffff;
					padding: 2%;

					font-family: PingFangSC-Light, sans-serif;

					font-size: 12px;

					.detail-board-content {
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						overflow: hidden;
					}

					.scale-text {
						display: flex;
						transform: scale(1);
						white-space: nowrap;
					}

					.info-block {
						margin-bottom: 10px;
						width: 100%;
						.title {
							font-size: 14px;
							font-family: PingFangSC-Semibold, sans-serif;
							color: #ffffff;
							margin-bottom: 0;
						}

						.info-item {
							display: flex;
							width: 100%;
							.info-label {
								width: 40%;
							}
							.info-label-value {
								width: 60%;
							}
							.detail-label {
								width: 50%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								margin-right: 5%;
							}
							.detail-label-value {
								width: 50%;
							}
						}
					}


					.detail {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
						overflow: hidden;
						width: 100%;
						margin-bottom: 0;

						.detail-block {
							flex-grow: 1;

							:global {
								.ps__thumb-y {
									width: 4px;
									background-color:rgba(255,255,255,0.3);
									border-radius:2px;
								}
							}
						}
					}

					/* 16:9 样式 */
					&.resolution {
						transform: scale(0.65, 0.65);
						transform-origin: 120% 40%;
					}
				}
			}
		}
	}

	.plugin-container{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 60px;
	}

	.toolbar-container{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

// .video-player{
// 	// position: absolute;
// 	width: calc(100vh - 180px);
// 	min-width: 480px;
// }

@media screen and (max-height: 1080px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 1.4;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.9) !important;
		transform-origin: 0 0;
	}
}

@media screen and (max-height: 920px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 1.4;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.8) !important;
		transform-origin: 0 0;
	}
}


@media screen and (max-height: 840px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 1.2;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.75) !important;
		transform-origin: 0 0;
	}
}

@media screen and (max-height: 720px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 1;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.6) !important;
		transform-origin: 0 0;
	}
}

@media screen and (max-height: 650px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 0.8;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.5) !important;
		transform-origin: 0 0;
	}
}

@media screen and (max-height: 650px) {
	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board {
		line-height: 0.8;
	}

	.video-player .video-container .video-detail-wrapper .video-detail-container .video-detail-board .scale-text {
		transform: scale(0.5) !important;
		transform-origin: 0 0;
	}
}
