.wrapper {
    background: #fff;
    padding: 10px 30px 10px 30px;
    .title {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
        .message-title {
            color: #333C4F;
            font-weight: 700;
            margin-right: 10px;
            font-size: 16px;
        }
        .number {
            color: #1890FF;
        }
    }
    .function-button {
        margin: 20px 0;
        .first-button {
            margin-right: 10px;
        }
    }
    .title-content {
        color: #1890FF;
        i {
            display: inline-block;
            background: #1890FF;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        .unread {
            margin-left: 10px;
        }
        .read {
            margin-left: 18px;
        }
    }
    h1 {
        text-align: center;
    }
}
