.wrapper {
	background: #fff;
	padding: 10px 30px 10px 30px;

	.title {
		padding: 10px 0;
		border-bottom: 1px solid #e8e8e8;

		.message-title {
			color: #333C4F;
			font-weight: 700;
			margin-right: 10px;
			font-size: 16px;
		}

		.number {
			color: #1890FF;
		}
	}

	.function-button {
		margin: 20px 0;

		.first-button {
			margin-right: 10px;
		}
	}

	.title-content {
		color: #1890FF;
		cursor: pointer;

		i {
			display: inline-block;
			background: #1890FF;
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}

		.unread {
			margin-left: 10px;
		}

		.read {
			margin-left: 18px;
		}
	}
}

.info-wrapper {
	background: #fff;
	padding: 10px 30px 30px 30px;

	.title-wrapper {
		margin-top: 30px;
		text-align: center;

		.info-title {
			font-size: 24px;
		}

		.info-time {
			color: rgba(0, 0, 0, 0.5);
			font-size: 14px;
		}
	}


	.content-wrapper {
		min-width: 640px;
		max-width: 720px;
		margin: 0 auto;
	}

	.button-bar {
		min-width: 640px;
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
}
