@import '~@/styles/common.less';

.passengerAnalyze-wrapper {
	margin: -24px;
}

.passengerAnalyze-title {
	padding: 16px 24px 0 24px;
	margin: 0;
	background: #fff;
}

.search-bar {
	width: 100%;
	height: 64px;
	padding: 16px 24px;
	background: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	:global {
		.ant-radio-button-wrapper-checked {
			box-shadow: -1px 0 0 0 @font-color-primary;
		}

		.ant-radio-button-wrapper:hover {
			color: @font-color-primary;
		}

		.ant-radio-group-solid {
			.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
				background: @font-color-primary;
				border-color: @font-color-primary;
			}
		}
	}
}

.display-content {
	margin: 24px;
}

.passenger-bar-wrapper {
	:global {
		.ant-card-body {
			padding: 0;
		}
	}
}

.passenger-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	:global {
		.ant-card-body {
			padding: 24px 10px;
		}
	}

	img {
		width: 48px;
		height: 100%;
		object-fit: contain;
	}
}

.passenger-chart-wrapper,
.passenger-info-wrapper {
	margin-top: 30px;
}

.passenger-chart-wrapper {
	position: relative;

	.chart-header {
		position: absolute;
	}

	:global {
		.g2-tooltip {
			background-color: rgba(44, 49, 68, 0.8) !important;
		}
	}
}

.passenger-info-content {
	display: flex;

	.agebar-wrapper {
		min-width: 40%;
	}

	.age-item {
		width: 80%;
		padding: 10px 20px;
		box-sizing: border-box;
		display: flex;

		.title {
			min-width: 100px;
		}

		.progress-wrapper {
			width: 100%;
		}
	}

	.age-item-active {
		width: 85%;
		position: relative;
		align-items: center;

		.age-icon {
			min-width: 100px;
		}

		.age-content {
			width: 100%;
		}

		&::after {
			content: '';
			width: 0;
			position: absolute;
			top: 0;
			right: -92px;
			border: 46px solid #eaf5ff;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
		}
	}

	.male-active {
		background: #eaf5ff;
	}

	.female-active {
		background: #eaf5ff;
	}
}

.detail-wrapper {
	width: 100%;
	margin-left: 50px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	.detail-info {
		width: 25%;
		min-height: 100px;
		box-sizing: border-box;
	}
}
