.payment-container{
	.qrCode-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	
		.payment-title{
			font-size:20px;
			font-family:PingFangSC-Medium,PingFang SC, sans-serif;
			font-weight:500;
			color:rgba(48,53,64,1);
		}
		.order-num{
			font-family:PingFangSC-Regular,PingFang SC, sans-serif;
			font-weight:400;
			color:rgba(133,133,138,1);
			margin: 0;
		}

		.order-price {
			font-weight: bold;
	
			.price {
				color: lightcoral;
			}
		}
	}
	
	.payment-content {
		display: flex;
		align-items: center;
	
		.payment-radio-wrapper {
			margin-right: 10px;
		}
	}
	.action-bar {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
		.rest-time {
			margin-right: 20px;
			color: red;
			.text {
				font-size:14px;
				font-family:PingFangSC-Regular,PingFang SC, sans-serif;
				font-weight:400;
				color:rgba(133,133,138,1);
			}
		}
	}
}
