
.bind-modal{
	.ipc-img{
		height: 44px;
		width: 44px;
	}
	.no-img{
		height: 44px;
		width: 44px;
		background-color: black;
	}
	
	:global {
		.ant-table-thead > tr > th{
			padding: 16px 7px 16px 7px;
		}
		.ant-table-tbody > tr > td{
			// padding: 7px 7px;
			padding: 7px 7px 7px 7px;
		}

		.ant-radio-wrapper{
			margin: 0;
			display: flex;
			justify-content: center;
			align-content: center;
		}
		
		.ant-radio-group{
			width: 100%;
		}
	
		.ant-table-pagination.ant-pagination{
			margin: 20px auto 0 auto;
		}
	
		
		.ant-table-content{
			.ant-table-placeholder{
				font-family: PingFangSC-Regular, sans-serif;
				font-size: 14px;
				color: #333C4F;
			}
		}
	}

	.modal-content{
		position: relative;
		.time{
			font-family: PingFangSC-Medium, sans-serif;
			font-size: 14px;
			color: #15151A;
			line-height: 20px;
		}
		.tips{
			font-family: PingFangSC-Regular, sans-serif;
			font-size: 14px;
			color: #333338;
		}
		.table{
			width: 100%;
		}
		.agreement{
			position: absolute;
			bottom: 15px;
		}
		.agreement-loading{
			display: none;
		}
	}
}

