.cloud-storage-container{
	.page-title{
		font-family: PingFangSC-Medium, sans-serif;
		font-size: 20px;
		color: #333338;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.adv-container{
		.adv-card{
			background-color: #FFFFFF;
			height: 190px;
			border-radius: 8px;
			overflow: hidden;
			position: relative;
			.title{
				height: 18px;
				display: flex;
				.title-icon{
					display: inline-block;
					background: #FF6000;
					border-radius: 2px;
					height: 18px;
					width: 3px;
					justify-content:center;
				}
				.title-text{
					display: inline-block;
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 18px;
					color: #333338;
					line-height: 18px;
					margin-left: 4px;
					justify-content:center;
				}
			}
			.adv-detail{
				margin-top: 8px;
				font-family: PingFangSC-Regular, sans-serif;
				font-size: 12px;
				color: #333338;
			}
			.bg-img{
				position: absolute;
				top: 110px;
				right: 0;
				height: 80px;
				width: 80px;
				opacity: 0.1;
			}
			.prince{
				background-image: url(@/assets/imgs/prince.svg);
			}
			.loss{
				background-image: url(@/assets/imgs/loss.svg);
			}
			.convenience{
				background-image: url(@/assets/imgs/convenience.svg);
			}
			.safe{
				background-image: url(@/assets/imgs/safe.svg);
			}
		}
	}
	.service-container{
		margin-top:24px;
		width: 100%;
		height: 436px;
		background: #FFFFFF;
		border-radius: 8px;
		// display: flex;
		// display: inline-block;
		.service-wrapper{
			overflow: hidden;
			.sevent-day{
				float: left;
				margin-left: 8px;
				// border: 1px solid rgba(0,0,0,0.10);
				border-radius: 8px;
				// overflow: hidden;
				height: 228px;
				width: 48%;
				// flex: 2;
				.title{
					text-align: center;
					height: 32px;
					background-image: linear-gradient(-15deg, #FA701D 1%, #FFE0CD 100%);
					// border-radius: 8px 8px 0px 0px;
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 16px;
					color: #FFFFFF;
					line-height: 32px;
					border-radius: 8px 8px 0 0;
				}
				.services{
					display: flex;
					justify-content: center;
					border: 1px solid rgba(0, 0, 0, 0.1);
					height: 196px;
					border-radius: 0 0 8px 8px;
					border-top: 0;
					
					.service-content{
						// border: 1px solid red;
						// margin: auto 0;
						margin-top: 20px;
						margin-left: -1px;
						width: 50%;
						justify-content: center;
						// display: inline-block;
						height: 156px;
						border-left: 1px solid rgba(0, 0, 0, 0.1);
						.price{
							position: relative;
							height: 52px;
							// width: 58px;
							font-family: PingFangSC-Medium, sans-serif;
							font-size: 36px;
							color: #303540;
							text-align: center;
							line-height: 52px;
							.unit{
								font-size: 16px;
								font-family: PingFangSC-Regular, sans-serif;
								font-weight:400;
								color:rgba(51,51,56,1);
							}
						}
						.free-price{
							.tag{
								position: absolute;
								height: 16px;
								width: 50px;
								top: 8px;
								left: 65%;
								background: url(@/assets/imgs/tag.svg) no-repeat center;
							}
							.init-price{
								// border: 1px black solid;
								width: 36px;
								height: 22px;
								position: absolute;
								top: 23px;
								left: 65%;
								text-align: center;
								.del-line{
									margin-top: 10px;
									width: 36px;
									height: 2px;
									background: #FF6000;
									border-radius: 1px;
								}
								.init-price-content{
									font-family: PingFangSC-Regular, sans-serif;
									font-size: 16px;
									color: #85858A;
									text-align: center;
									margin-top: -27px;
								}
							}
						}
						.expire-time{
							text-align: center;
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 14px;
							color: #525866;
							line-height: 22px;
						}
						.sub-button{
							height: 32px;
							margin: 20px auto 0 auto;
							display: block;
						}
						.disabled{
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 16px;
							color: #A1A7B3;
							text-align: center;
							line-height: 24px;
						}
						.normal{
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 16px;
							color: #FFFFFF;
							text-align: center;
							line-height: 24px;
						}
						.tips{
							margin-top: 4px;
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 12px;
							color: #A1A7B3;
							text-align: center;
							line-height: 20px;
						}
					}
					.service-content:first-child{
						border: none;
					}
				}
				
			}
			.thirty-day{
				float: right;
				margin-right: 8px;
				// border: 1px solid rgba(0,0,0,0.10);
				border-radius: 8px;
				// overflow: hidden;
				height: 228px;
				width: 48%;
				// flex: 2;
				.title{
					text-align: center;
					height: 32px;
					background-image: linear-gradient(90deg, #A9BEFD 0%, #7890DB 100%);
					// border-radius: 8px 8px 0px 0px;
					font-family: PingFangSC-Medium, sans-serif;
					font-size: 16px;
					color: #FFFFFF;
					line-height: 32px;
					border-radius: 8px 8px 0 0;
				}
				.services{
					display: flex;
					justify-content: center;
					border: 1px solid rgba(0, 0, 0, 0.1);
					height: 196px;
					border-radius: 0 0 8px 8px;
					border-top: 0;
					
					.service-content{
						// border: 1px solid red;
						// margin: auto 0;
						margin-top: 20px;
						margin-left: -1px;
						width: 50%;
						// justify-content: center;
						// display: inline-block;
						height: 156px;
						border-left: 1px solid rgba(0, 0, 0, 0.1);
						.price{
							position: relative;
							height: 52px;
							// width: 58px;
							font-family: PingFangSC-Medium, sans-serif;
							font-size: 36px;
							color: #303540;
							text-align: center;
							line-height: 52px;
							.unit{
								font-size: 16px;
								font-family: PingFangSC-Regular, sans-serif;
								font-weight:400;
								color:rgba(51,51,56,1);
							}
						}
						.free-price{
							.tag{
								position: absolute;
								height: 16px;
								width: 50px;
								top: 8px;
								left: 65%;
								background-image: url(@/assets/imgs/tag.svg);
							}
							.init-price{
								// border: 1px black solid;
								width: 36px;
								height: 22px;
								position: absolute;
								top: 23px;
								left: 65%;
								text-align: center;
								.del-line{
									margin-top: 10px;
									width: 36px;
									height: 2px;
									background: #FF6000;
									border-radius: 1px;
								}
								.init-price-content{
									font-family: PingFangSC-Regular, sans-serif;
									font-size: 16px;
									color: #85858A;
									text-align: center;
									margin-top: -27px;
								}
							}
						}
						.expire-time{
							text-align: center;
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 14px;
							color: #525866;
							line-height: 22px;
						}
						.sub-button{
							height: 32px;
							margin: 20px auto 0 auto;
							display: block;
						}
						.disabled{
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 16px;
							color: #A1A7B3;
							text-align: center;
							line-height: 24px;
						}
						.normal{
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 16px;
							color: #FFFFFF;
							text-align: center;
							line-height: 24px;
						}
						.tips{
							margin-top: 4px;
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 12px;
							color: #A1A7B3;
							text-align: center;
							line-height: 20px;
						}
					}
					.service-content:first-child{
						border: none;
					}
					
				}
			}
		}
		.service-tips{
			margin: 32px 8px;
			padding: 16px;
			height: 112px;
			background-color: #FAFAFA;
			border-radius: 8px;
			
			.service-tip{
				margin: 0;
				font-family: PingFangSC-Regular, sans-serif;
				font-size: 12px;
				color: #A1A7B3;
				line-height: 20px;
			}
		}
	}
}
