.subscription-success-container{
	text-align: center;
	height: 654px;
	.sucess-icon{
		margin-top: 105px;
		display: inline-block;
		width:72px;
		height: 72px;
		// margin: 0 auto;
		background: url('@/assets/imgs/success.png');
		background-size:100%;
	}
	.success-tip{
		margin-top: 12px;
		font-family: PingFangSC-Medium, sans-serif;
		font-size: 24px;
		color: #333338;
		line-height: 32px;
	}
	.btn{
		display: block;
		margin: 20px auto;
		width: 160px;
		height: 32px;
		font-family: PingFangSC-Regular, sans-serif;
		font-size: 16px;
		// color: #FFFFFF;
		text-align: center;
		line-height: 24px;
	}
	.btn:first-child{
		margin-top: 28px;
	}
}
