<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <title>激活码</title>
        <link rel="stylesheet" href="./css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="logo">
                <img src="./images/logo-big.png" alt="logo"/>
                <span class="logo-text">数字店铺</span>
            </div>
            <template v-if="resultType === 0">
                <div class="info info1">请在数字店铺配置页中输入下列验证码</div>
                <div class="input-wrapper">
                    <div class="code">{{captchas}}</div>
                </div>
            </template>
            <template v-if="resultType === 1">
                <div class="info info1">激活码无效，</div>
                <div class="info">请在数字店铺中返回上一步重新输入</div>
            </template>
            <template v-if="resultType === 2">
                <div class="info info1">激活码已被使用，</div>
                <div class="info">请在数字店铺中返回上一步重新输入</div>
            </template>
            <template v-if="resultType === 3">
                <div class="info info1">服务器繁忙，请稍后重试</div>
            </template>
        </div>
        <script>
            new Vue({
                el: '#app',
                data() {
                	return {
                		resultType: 0,
						captchas: ''
                    }
                },
                created() {
					var me = this;
					var params = {};
                    var keyStr = window.location.search.substring(1);
                    var keyMap = keyStr.split('&');
                    for (var i = 0; i < keyMap.length; i++) {
                        if (keyMap[i].indexOf('activation_code') > -1) {
                        	params.activation_code = keyMap[i].split('=')[1];
                        }
						if (keyMap[i].indexOf('cpu_id') > -1) {
							params.cpu_id = keyMap[i].split('=')[1];
						}
                    }

					$.ajax({
						type: 'POST',
						contentType: 'application/json;charset=UTF-8',
						url: '/api/user/getCaptchas',
						data: JSON.stringify(params),
						success: function(result) {
							if (result.code === 1) {
								me.resultType = 0;
								me.captchas = result.data.captchas;
                            } else if (result.code === 5095) {
								me.resultType = 1;
                            } else if (result.code === 5096) {
								me.resultType = 2;
                            } else {
								me.resultType = 3;
                            }
						},
						error: function() {
							me.resultType = 3;
                        }
					});
                }
            });
        </script>
    </body>
</html>
