.show-header {
	width: 1824px;
	position: relative;
	.header-title {
		width: 100%;
		height: 56px;
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header-logo {
			width: 120px;
			height: 23px;
			background-image: url('./Logo.png');
		}
		.header-name {
			width: 100%;
			position: absolute;
			text-align: center;
			font-family: PingFangSC-Semibold, sans-serif;
			font-size: 40px;
			color: #ffffff;
		}
		.header-time {
			font-family: Gotham-Book, sans-serif;
			font-size: 20px;
			color: #ffffff;
			line-height: 22px;
		}
	}
	.header-tabs {
		width: 100%;
		:global {
			.ant-tabs-bar {
				border-bottom: 0;
				margin: 0 0 40px 0;
				.ant-tabs-nav-container {
					background-image: linear-gradient(
						89deg,
						rgba(125, 158, 250, 0) 21%,
						rgba(125, 158, 250, 0.1) 50%,
						rgba(125, 158, 250, 0) 79%
					);
					border: 2px solid;
					border-image: linear-gradient(
						90deg,
						transparent,
						rgba(64, 79, 121, 0) 30%,
						rgba(109, 130, 217, 1) 50%,
						rgba(64, 79, 121, 0) 70%,
						transparent
					)
						1;
					.ant-tabs-nav {
						display: flex;
						justify-content: center;
						.ant-tabs-tab-active.ant-tabs-tab {
							font-family: PingFangSC-Medium, sans-serif;
							font-size: 20px;
							color: #ffffff;
						}
						.ant-tabs-tab {
							font-family: PingFangSC-Regular, sans-serif;
							font-size: 20px;
							color: rgba(255, 255, 255, 0.3);
							margin: 0;
							padding: 12px 14px;
						}
						.ant-tabs-ink-bar {
							left: 821px;
							height: 4px;
							width: 46px !important;
							border-radius: 2px;
							background-color: #8eaaf9;
						}
					}
				}
			}
		}
	}
}
