:global {
	.ant-alert {
		&-info {
			background-color: #e0ecff;
			border: 1px solid #759fff;
			.ant-alert-icon {
				color: #4b7afa;
			}
		}
		&-success .ant-alert-icon {
			color: #6dd13b;
		}
		&-warning .ant-alert-icon {
			color: #ffcc33;
		}
		&-error .ant-alert-icon {
			color: #ff3838;
		}
	}
}
