:global {
	.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
	.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
		color: #ffcc33;
	}
	.ant-modal-confirm-error .ant-modal-confirm-body > .anticon {
		color: #ff3838;
	}
	.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
		color: #6dd13b;
	}
	.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
		color: #4b7afa;
	}
}
