:global {
	.ant-modal-confirm {
		&-warning .ant-modal-confirm-body > .anticon,
		&-confirm .ant-modal-confirm-body > .anticon {
			color: #ffcc33;
		}
		&-error .ant-modal-confirm-body > .anticon {
			color: #ff3838;
		}
		&-success .ant-modal-confirm-body > .anticon {
			color: #6dd13b;
		}
		&-info .ant-modal-confirm-body > .anticon {
			color: #4b7afa;
		}
	}
}
