:global {
	.anticon.ant-notification-notice-icon-success {
		color: #6dd13b;
	}
	.anticon.ant-notification-notice-icon-info {
		color: #4b7afa;
	}
	.anticon.ant-notification-notice-icon-warning {
		color: #ffcc33;
	}
	.anticon.ant-notification-notice-icon-error {
		color: #ff3838;
	}
}
