:global {
	.ant-progress-status-exception .ant-progress-bg {
		background-color: #ff3838;
	}
	.ant-progress-status-exception .ant-progress-text {
		color: #ff3838;
	}
	.ant-progress-status-success .ant-progress-bg {
		background-color: #6dd13b;
	}
	.ant-progress-status-success .ant-progress-text {
		color: #6dd13b;
	}
	.ant-progress-success-bg,
	.ant-progress-bg {
		background-color: #4b7afa;
	}
}
