.face-log-container{
	:global{
		.ant-card-head{
			border-bottom: 0;
		}
		.ant-form-item {
			margin: 0 0;
		}
	}
	.face-log-table{
		.img-wrapper{
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			.face-img{
				max-width: 50px;
				max-height: 50px;
			}
		}


		:global{
			.ant-table-tbody > tr > td {
				height: 54px;
				padding: 2px 16px;
			}
		}
	}
	// .adjust-face-group-modal{
	// 	.modal-left{
	// 		width: 100px;
	// 		height: 100%;
	// 		float: left;
	// 	}
	// 	.modal-right{
	// 		height: 100%;
	// 		margin-left: 100px;
	// 	}
	// }
}
.adjust-face-group-modal{
	.modal-left{
		width: 100px;
		height: 100%;
		float: left;
	}
	.modal-right{
		height: 100%;
		margin-left: 100px;
	}
}
