.display-none {
	display: none;
}

.video-watch {
	// color: #1890FF;
	// cursor: pointer;
	&.disabled{
		color: #cccccc;
		cursor: default;
	}
}

// .motion-list-container{
// 	.input-item{
// 		width: 95%;
// 	}
// }
// .video-player{
// 	.payment-list-silder{

// 		width: 45%;
// 		height: calc(100% - 108px);
// 		background: rgba(0, 0, 0, 0.64705882);
// 		position: absolute;
// 		top: 24px;
// 		right: 24px;

// 		.payment-info{
// 			margin: 30px;
// 			color: white;
// 			// width: 80px;
// 			// line-height: 25px;
// 			// text-align: left;
// 			// width: 300px;
// 			// height: 200px;
// 			.payment-info-item{
// 				display: inline-block;
// 				width: 150px;
// 				line-height: 25px;
// 			}
// 			.payment-time{
// 				width: 250px !important;
// 			}
// 		}

// 		.paymemt-detail{
// 			margin-left: 30px;

// 			.payment-detail-title {
// 				font-weight: 650 !important;
// 				color: white !important;
// 				line-height: 40px !important;
// 			}

// 			.payment-detail-item {
// 				// border: 1px black solid;
// 				font-family: 'PingFangSC-Regular', 'PingFang SC';
// 				font-weight: 400;
// 				font-style: normal;
// 				font-size: 14px;
// 				color: white;
// 				text-align: left;
// 				display: inline-block;
// 				width: 12%;
// 				white-space: nowrap;
// 				overflow: hidden;
// 				text-overflow: ellipsis;
// 				line-height: 25px;
// 			}

// 			.payment-detail-item-name {
// 				// border: 1px black solid;
// 				width: 25%;
// 				margin-right: 20px;
// 			}
// 		}
// 	}
// }





.paymemt-detail{
	margin-left: 10%;

	.payment-detail-title {
		font-weight: 650 !important;
		color: rgba(0, 0, 0, 0.847058823529412) !important;
		line-height: 40px !important;
	}

	.payment-detail-item {
		// border: 1px black solid;
		// font-family: 'PingFangSC-Regular', 'PingFang SC';
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.647058823529412);
		text-align: left;
		display: inline-block;
		width: 80px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 25px;
	}

	.payment-detail-item-name {
		// border: 1px black solid;
		width: 150px;
		margin-right: 20px;
	}
}

// .search-container{
// 	margin-bottom: 24px;
// }
