.video-watch {
	// color: #1890FF;
	// cursor: pointer;
	&.disabled{
		color: #cccccc;
		cursor: default;
	}
}

.paymemt-detail{
	margin-left: 13%;

	.payment-detail-title {
		font-weight: 650 !important;
		color: rgba(0, 0, 0, 0.847058823529412) !important;
		line-height: 40px !important;
	}

	.payment-detail-item {
		// border: 1px black solid;
		// font-family: 'PingFangSC-Regular', 'PingFang SC';
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.647058823529412);
		text-align: left;
		display: inline-block;
		width: 8%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 25px;
	}

	.payment-detail-item-name {
		// border: 1px black solid;
		min-width: 120px;
		margin-right: 20px;
	}
	.payment-detail-item-amount {
		text-align: right;
	}
}

.search-camera,
.search-pos{
	:global{
		.ant-form-item-control-wrapper{
			width: 72px;
		}
	}
}
