.reset-wrapper {
  width: 368px;
  margin: 0 auto;

  .reset-title {
    margin-top: 50px;
  }

  .reset-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .bigIcon-wrapper {
      cursor: pointer;
    }

    .icon-description {
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      color: rgba(102, 102, 102, 0.847058823529412);
    }
  }

  .result-wrapper {
    margin-top: 50px;

    .result-title, .result-content {
      margin: 0 auto;
      text-align: center;
    }

    .result-title {
      font-size: 16px;
      margin-top: 50px;
    }

    .result-count {
      color: #F90;
    }

    .result-action-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
