.account-wrapper {
	margin: 0 auto;

	.basicInfo-wrapper {
		display: flex;

		.avatar-wrapper {
			text-align: center;

			.avatar-link {
				margin-top: 20px;
			}
		}

		.username-wrapper {
			margin-left: 50px;
			font-size: 20px;
			font-weight: bold;

			.edit-icon {
				margin-left: 15px;
				cursor: pointer;
			}
		}
	}

	.list-wrapper {
		.list-item {
			width: 100%;
		}

		.title-wrapper-between {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.title-wrapper-start {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.title-wrapper-icon {
				display: inline-flex;

				:global {
					.ant-tag {
						background: #fff7e6;
						border: 1px solid #ffd591;
						font-size: 12px;
						line-height: 12px;
						margin-left: 10px;
						display: flex;
						align-items: center;
					}
				}
			}

			.store-change {
				margin-right: 10px;
			}

			.button-more {
				color: #1890ff;
				cursor: pointer;
			}
		}

	}
}

.margin-clear {
	margin: 0;
}
