.account-wrapper {
  margin: 0 auto;

  .basicInfo-wrapper {
    display: flex;

    .avatar-wrapper {
      text-align: center;

      .avatar-link {
        margin-top: 20px;
      }
    }

    .username-wrapper {
      margin-left: 50px;
      font-size: 20px;
      font-weight: bold;

      .edit-icon {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }

  .list-wrapper {
    .list-item {
      width: 100%;
    }

    .title-wrapper-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title-wrapper-start {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-wrapper-icon {
        display: inline-flex;
      }
      .button-more {
        color: #1890FF;
        cursor: pointer;
      }
    }

  }
}
