.live-wrapper {
	position: relative;
	margin: auto;

	height: calc(100vh - 168px);
	// height: 30%;
	// width: 70%;
	.close{
		position: absolute;
		z-index: 100;
		color: white;
		top: 0;
		font-size: 30px;
		right: 0;
		margin: 12px;

		&:hover {
			opacity: 0.8;
		}
	}

	.video-player-container {
		display: block;
		width: 100%;
		height: 100%;
	}
}
