.live-wrapper {
	position: relative;
	margin: auto;
	// height: 30%;
	// width: 70%;
	.close{
		position: absolute;
		z-index: 100;
		color: white;
		top: 1px;
		font-size: 30px;
		right: 0;
	}
	.video-player-container {
		display: inline-block;
		width: 100%;
	}
}
