html,
body,
#root {
	height: 100%;
}

.colorWeak {
	filter: invert(80%);
}

.ant-layout {
	min-height: 100vh;
}

canvas {
	display: block;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.globalSpin {
	width: 100%;
	margin: 40px 0 !important;
}

ul,
ol {
	list-style: none;
}

input {
	outline: none;
	border: none;
}

sup {
	font-size: 10px;
	top: -.25em;
}

sub {
	font-size: 10px;
	bottom: 0;
}

.search-bar{
	:global {
		.ant-form-item {
			margin-bottom: 24px;
			margin-right: 0;
			display: flex;
			> .ant-form-item-label {
				width: auto;
				line-height: 32px;
				padding-right: 8px;
			}
			.ant-form-item-control {
				line-height: 32px;
			}
		}
		.ant-form-item-control-wrapper {
			flex: 1;
		}
	}
}

.content-container {
	padding: 32px;
	background: #fff;
}

//火狐下的移除
input[type='number'] {
	-moz-appearance: textfield;
}

//谷歌下的移除
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}


:global {
	.ant-input-lg {
		font-size: 14px;
	}

	.ant-table-pagination.ant-pagination {
		float: none !important;
		text-align: right !important;

		.ant-pagination-total-text {
			float: left !important;
		}
	}
}
