.online {
	svg {
		width: 40px;
		height: 40px;
		path {
			fill: #303540;
		}
	}
}

.offline {
	svg {
		width: 40px;
		height: 40px;
		path {
			fill: #a1a7b3;
		}
	}
}

.bandwidth {
	svg {
		width: 14px;
		height: 14px;
	}
}
