@import '~antd/lib/style/themes/default.less';
@import '~@/styles/global.less';

.content {
	margin: 24px;
	padding-top: @layout-header-height;
}

.layout-content {
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 10vh;
}
