@import './UserLayout.less';
@import '../components/GlobalHeader/index.less';

.content {

	.content-inline {
		display: flex;
		justify-content: space-between;

		.action {
			cursor: pointer;
		}
	}

	.title-background {
		margin-left: 30px;
		width: 90px;
		height: 40px;
	}
}
