@import '~@/styles/common.less';

.content-card {
	border-bottom: 1px solid #e8e8e8;

	:global {
		.ant-card-head {
			border-bottom: none;
		}
		.ant-card-body {
			padding: 0;
		}
	}
}

.display-content {
	width: 45%;
	margin: 0 auto;

	.form-item-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.device-info {
	margin: 20px 24px;
}

.table-margin-top {
	margin-top: 20px;
}
