.live-wrapper{
	position: relative;
	font-size: 0;

	.faceid-container{
		position: absolute;
		top: 0;
		left: 0;

		height: calc(100% - 60px);
		// width: calc(100% - 178px);
		width: calc(100% - 176px);
	}

	.video-player-container{
		display: inline-block;
		width: 100%;
		height: calc(100vh - 120px);
		min-height: 650px;
		position: relative;

		&.has-faceid{
			// padding-right: 178px;
			padding-right: 176px;
		}
	}

	.faceid-list-container{
		position: absolute;
		top: 0;
		right: 0;
		// display: inline-block;
		// width: 178px;
		width: 176px;
		height: 100%;

		overflow: hidden;

		background-color: #ffffff;

		.faceid-list{
			// height: calc(100% - 60px);
			height: 100%;
		}
		.avatar-container{
			position: relative;
			width: 96px;
			height: 96px;
			margin: 0 auto;

			.type{
				position: absolute;
				top: 6px;
				left: 6px;

				// height: 16px;
				border-radius: 10px;

				padding: 1px 6px;

				background-color: #FFAA00;

				color: #ffffff;
				font-size: 10px;
				line-height: 14px;
				z-index: 1;

				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 84px;
			}

			.avatar{
				display: block;

				border-radius: 16px;
				box-shadow: 2px 2px 10px rgba(51, 60, 79, 0.4);

				img {
					width: 100%;
					height: auto;
					margin: 0 auto;
					min-height: 100%;

				}
			}
		}


		.infos{
			text-align: center;
			color: #47455C;
			margin: 0 auto;

			p{
				margin-bottom: 0;
				font-size: 12px;
				line-height: 17px;
			}

			.name{
				font-size: 16px;
				line-height: 22px;
			}

			.button-infos{

				cursor: pointer;
				font-size: 14px;
				color: #ffffff;

				height: 32px;
				line-height: 20px;
				margin: 8px 6px 0;
				padding: 6px 0;

				display: block;
				border-radius: 4px;
				background-color: #6694FF;
			}

			:global{
				.ant-card-head{
					padding: 0;
					border-bottom: 0 none;

					.ant-card-head-title{
						padding: 0 0 8px;
					}
				}
				.ant-card-body{
					padding: 0;
				}
			}
		}

		// .faceid-card{
		// 	// width: 300px;

		// 	.avatar-col{
		// 		display: inline-flex;
		// 		align-items: center;
		// 		justify-content: center;
		// 		.avatar-img{
		// 			// width: 20px;
		// 			// height: 20px;
		// 			width: 100%;
		// 			height: auto;
		// 			margin: 0 auto;
		// 			max-height: 100%;
		// 		}
		// 	}
		// 	.info-col{
		// 		font-size: 12px;
		// 		display: inline-block;
		// 		vertical-align: top;
		// 		height: 100%;
		// 		padding: 0 10px;
		// 		line-height: 22px;
		// 		.info-label{
		// 			display: block;
		// 		}
		// 	}
		// 	.button-infos{

		// 		text-align: center;
		// 		font-size: 14px;
		// 		color: #ffffff;

		// 		height: 24px;
		// 		// line-height: 24px;
		// 		margin: 8px 6px 0;
		// 		padding: 3px 0;

		// 		display: block;
		// 		border-radius: 4px;
		// 		background-color: #FFAA00;
		// 	}
		// 	:global {
		// 		.ant-card-body{
		// 			// width: 300px;
		// 			padding: 0 12px;
		// 		}
		// 	}
		// }
		.infos-more{
			text-align: center;
			font-size: 14px;
			cursor: pointer;
			position: absolute;
			top: calc(100% - 60px);
			right: 0;

			height: 60px;
			line-height: 60px;
			width: 176px;
			background-color: #ffffff;
			:global{
				a{
					color: #525866;
				}
			}
		}


		:global{
			.ant-list-item{
				border-bottom: 0 none;
				padding: 24px 0 0;
			}
		}
	}
}
